{% extends "aplicacion/index.html" %}


{% block titulo %}
<h1 class="mb-5">Pensa en tu pregunta!</h1>   
{% endblock titulo %}


{% block contenido %}
<h2>Aca podes encontrar varias respuestas de diferentes tiradas</h2>
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pregunta</th>
            <th>Respuesta</th>
        </tr>
    </thead>
    <tbody>
    {% for p in pregunta %}    
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.pregunta }}</td>
            <td>{{ p.respuesta }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}
    
    